body {
    color: rgb(172, 76, 124);
    background-color: rgb(253, 191, 207);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(182, 91, 141);
    text-decoration: none;
}

div img {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    border: 5px solid rgb(153, 92, 112);
}

img, p{
   display: inline-block;
}

div {
    display: inline-block;
}

.below {
    text-align: left;
    }

.below2 {
    text-align: center;
}

.below3 {
    text-align: end;
}

.below6 {
    display: flex;
}

h1 {
    color:rgb(131, 69, 90);
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: rgb(172, 73, 111);
}


#titulo {
    font-family: sans-serif;
}

fieldset {
    border: 0;
}

input, select {
    border-radius: 5px;
}

table, th, td {
    border: 2px solid color(srgb rgb(187, 59, 123));
}